/* Высчитано вручную с помощью Photopea */
/* Большой блок - 200х62 */
/* Средний блок - 200х41 */

header {
    position: absolute;
}

.header__text {
    font-weight: 400;
    font-size: xx-large;
    color: #fff;
    font-weight: 300
}

.scheme__container {
    width: 985px;
    height: 761px;
    background-color: #2d333b;
    font-family: "Segoe UI";
}

.item__container {
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
}

.big {
    width: 200px;
    height: 62px;
    padding: 0 50px;
}

.medium {
    width: 200px;
    height: 41px;
}

.lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #aaaaaa;
}